<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head>
       <title>success</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <style >
        
        
            body{
                background-color:skyblue;
            }
            .myform{
                text-align: center;
                margin-top: 50px;
                background-color:gainsboro;
                width: 300px;
                margin-left: 550px;
                height: 500px;
            }
        
        
        </style>
        
    </head>
    <body>
        <div class="myform">
        <br><br>   
        
        <div th:action="@{/success}" th:object="${user}" id="name"><h3>success</h3></div>
        <br>
        <br>
        <a href="http://localhost:8088/addbrand" th:action="@{/addbrand}" th:object="${brand}">
            
            
            <button style="width: 90px; height: 60px;">Go To add brand</button></a>
       
         <br>
        <br>
        <a href="http://localhost:8080/addproduct" th:action="@{/addproduct}" th:object="${product}"><button style="width: 150px; height: 60px;">Go To add product</button></a>
            
          <br>
        <br>
       
        <a href="http://localhost:8080/confirmation" th:action="@{/confirmation}" th:object="${store}"><button style="width: 90px; height: 60px;">accept user's store</button></a>

        </div>
    </body>
</html>
